<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scale=0;">
    <title>Yellow</title>
    <%= csrf_meta_tags %>

<!--     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
<!--     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
	<link type="text/css" rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.structure.min.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/plugin.js"></script>
	<script type="text/javascript" src="/js/functions.js"></script>
  </head>

  <body>
  	<% if !@login_status.blank? && @login_status %>
  		<%= render 'application/header' %>
  	<% end %>
    <%= yield %>
    <footer id="footer">
		<ul>
			<li><a href="#">ヘルプ</a></li>
			<li><a href="#">利用規約</a></li>
			<li><a href="#">プライバシーポリシー</a></li>
		</ul>
		<p class="text_copyright">&copy;2017 GRAYCODE</p>
	</footer>
  </body>
</html>
