
<div class="single-wrapper">
	<header>
		<p id="logo"><%= image_tag 'common/logo.svg', alt:'Yellow' %></p>
	</header>
	<main class="register-content">
		<h1>アカウント登録</h1>
		<ul class="flow-list">
			<li><span class="current-flow">1</span>仮登録</li><li><span>2</span>メール確認</li><li><span>3</span>本登録</li>
		</ul>
		<%= form_tag(action: :complete) do %>
			<% if !@message.blank? %>
				<p class="text-error"><%= @message %></p>
			<% end %>
			<ul>
				<li>
					<%= label :user, "email", "メールアドレス", class: "label-text" %>
					<%= email_field :user, :email, placeholder:"sample@gray-code.com", class:"input-text", value: @email %>
				</li>
				<li>
					<%= label :user, "conf-email", "メールアドレス（確認用）", class: "label-text" %>
					<%= email_field :user, "conf-email", placeholder:"確認のため、もう一度入力してください", class:"input-text", value: @conf %>
				</li>
			</ul>
			<div class="btn-area">
				<%= submit_tag( "仮登録", class: "btn-yellow", name: "btn-pre-register") %></div>
			<hr>
			<p class="text-guide">アカウント登録がお済みでない方はこちら</p>
			<div class="btn-area"><a class="btn-white" href="/login">ログイン</a></div>
		<% end %>
	</main>
</div>
